# Answer 1

In [1]:
#Importing all the necessary laibraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
# Time is used to stop search engine for few seconds
import time

In [2]:
#Conecting to the web drvier
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

In [3]:
#Opening up the required website
driver.get("https://www.naukri.com/")

In [4]:
#Entering designation 
designation = driver.find_element_by_class_name("suggestor-input ")
designation.send_keys("Data Analyst")

#Finding location by xpath
location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [5]:
#Clicking on search button 
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

Now lets create 4 empty list.Which is used to store 4 features which we have to extract

1.job_title
2.job_location
3.company_names
4.experience_required

In [6]:
job_title=[]
location_list=[]
company_names=[]
experience_required_list=[]

In [7]:
#Lets extract all the tags having the job_titles
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="2d7dfd83-5ef3-4a65-a1db-c7d8189403b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="e260be4d-383b-47f5-a3d7-157cccb7c786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="fe70fe7e-21e0-44c8-b307-d52a9a9aa4f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="604dc7fb-d828-4392-8981-fcbf17a0b501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="198f5fd0-6965-473f-807b-6d87efeab506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="f0664265-c1c6-4dcd-8a50-4dcd319721e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="b8dcc109-7d58-42f0-b5f4-4f4323d79b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="e18f2b5b-bd1d-4b8c-b362-074b5d817337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="9ad64c36-64eb-419d-a500-bdae23ad69e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="62629066-601c-4e54-9d46-9f5b7b18ae84")>]

In [8]:
for i in titles_tag:
    titles=i.text
    job_title.append(titles)
job_title[0:10]

['EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data analyst / Data scientist, AVP',
 'Data analyst / Data scientist, Associate',
 'Senior Mis Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Senior Data Analyst',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS']

In [9]:
#extracting all the tags having location
loc_tags= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="9a793bc5-efc2-417f-9d7c-0f24811413bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="39b899ca-24c2-410d-8105-2e3f89f5d293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="f5637f32-0f31-4aeb-8c6f-e12d4c976d83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="8e09497b-820c-4081-a4a6-d8b6fd5bec5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="08725b7a-e237-42e6-adc4-501b6ccccc6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="57b5e09d-95e5-4a04-8823-861afbec339b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="0be3d2a0-dbf7-483a-9da4-516d864308ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="cddfada5-7009-4799-a1df-655ef1a7650f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="2bec9e91-049e-4865-889b-35cf23ba995f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="3f0c7721-3fdd-4776-aa1d-15a00e5e44ff")>]

In [10]:
for i in loc_tags:
    loc=i.text
    location_list.append(loc)
location_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mumbai (All Areas)',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)']

In [11]:
#Extracting all the tags having companies name
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="e4fb6116-95e8-41d0-acbc-357f44304374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="1a164331-ba7d-4342-980f-2e1707d8e8ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="a276f2bd-adc8-421e-857d-70532f16ccf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="7575c80d-2125-4cb6-9a2c-50b5617bdd7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="1f8b7a36-131b-4377-81e3-3abe4771abe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="23b1cbb3-2edf-46b5-8ebc-a21bf8fbcedf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="8f20e58d-c79b-4bfd-8635-19128e6de079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="ef4f04be-0f22-4e24-9f1a-c5da45263330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="927c99a2-3259-4c1e-b9b0-44103c8ee68e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="07877886-6a9c-4be3-a163-bcafbe49d4a1")>]

In [12]:
for i in companies:
    company=i.text
    company_names.append(company)
company_names[0:10]

['EY',
 'Imaginative Brains LLP',
 'Deutsche Bank',
 'Deutsche Bank',
 'Barbeque Nation',
 'Sejal Consulting Hub',
 'Flipkart',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics']

In [13]:
#Extracting all the tags having experience required 
experience_requir= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_requir[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="11d6a8ae-ec3c-4925-a12c-851e3fc1abfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="814d3958-b86e-444d-93dd-5a1293bdf06b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="ab700b93-1cd6-4516-84f5-361c67b38840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="d516a18c-5382-48a3-9643-7ebb00a4f93d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="0777fe79-6e82-48b2-867d-71df155a40f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="6a0c055a-8fe4-4ab6-982c-bb53a7b42985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="5c5e407a-13d1-47e0-b7b6-a09cefbe61d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="eade35b2-33d1-48c7-ac18-5561afc9880a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="0c8288d5-2d20-4eec-b4f1-dea904512469")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc85d80da1beb30c207aa0218a383d94", element="9ae8c8c8-abb8-4d89-bd0b-25df3b9f1ffe")>]

In [14]:
for i in experience_requir:
    experience=i.text
    experience_required_list.append(experience)
experience_required_list[0:10]

['0-1 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs']

In [15]:
#Checking the length 
print(len(job_title),len(location_list),len(company_names),len(experience_required_list))

20 20 20 20

In [16]:
#Creating the dataframe
jobs=pd.DataFrame({'title':job_title,'Location':location_list,'Company':company_names,'Experience requied':experience_required_list})
jobs

,title,Location,Company,Experience requied
0,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
1,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs
2,"Data analyst / Data scientist, AVP",Bangalore/Bengaluru,Deutsche Bank,6-11 Yrs
3,"Data analyst / Data scientist, Associate",Bangalore/Bengaluru,Deutsche Bank,5-8 Yrs
4,Senior Mis Data Analyst,"Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mu...",Barbeque Nation,5-8 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,Remote,Sejal Consulting Hub,0-3 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
7,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
8,Genpact Hiring For Data Analyst,Bangalore/Bengaluru,Genpact,2-6 Yrs
9,data analyst/ data analytics / Business analys...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Leading US MNC into Analytics,2-7 Yrs
10,Data Analyst,Bangalore/Bengaluru,PharmEasy,1-3 Yrs
11,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
12,Data Analyst /Senior Data Analyst/Lead Data An...,Bangalore/Bengaluru,Intelliest Technology,3-8 Yrs
13,Data Analyst ( Outsourced),Bangalore/Bengaluru,ONEPLUS TECHNOLOGY INDIA PRIVATE LIMITED,3-5 Yrs
14,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
15,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
16,Senior Data Management Analyst,Bangalore/Bengaluru,Moody's,3-6 Yrs
17,Lead Data Analyst,"Noida, Visakhapatnam, Hyderabad/Secunderabad, ...",SAGE INNOVATION SERVICES PRIVATE LIMITED,4-8 Yrs
18,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
19,Data Analyst,Bangalore/Bengaluru,Refinitiv,1-3 Yrs

# Answer 2

In [17]:
#Conecting to the web drvier
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

In [18]:
#Opening up the required website
driver.get("https://www.naukri.com/")

In [19]:
#Entering designation 
designation = driver.find_element_by_class_name("suggestor-input ")
designation.send_keys("Data Scientist")

#Finding location by xpath
location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [20]:
#Clicking on search button 
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

Now lets create 3 empty list.Which is used to store 3 features which we have to extract

1.job_title
2.job_location
3.company_name

In [21]:
job_titles=[]
locations_list=[]
company_name=[]

In [22]:
#Lets extract all the tags having the job_titles
titles_tag= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="50875252-4559-4b07-a07e-f89b273bb412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="979783ff-25fa-4cd6-bde6-ddbd1bac4582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="c820fe17-3c06-443b-b2a3-702ca77a887b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="c39b094c-0cf9-4ffa-8e4f-bb8c33ee3514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="eba87945-27e6-4733-b129-33675dfa556e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="b9eb9a5f-6d97-477d-a0bd-d04e19600d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="3058e111-9704-4053-80c5-7d16ef39219e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="a45fe314-2292-4253-b789-d24b5ed7ea4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="53660e92-be8a-4c5a-b7db-06c06f212eb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="e99b361e-966d-4231-95b6-eb7e85f0100b")>]

In [23]:
for i in titles_tag:
    titles=i.text
    job_titles.append(titles)
job_titles[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [24]:
#Extracting all the tags having location
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="27c90c7e-f6b4-45c3-a8e8-910c39e5e31c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="7f4573b6-e747-4786-93d8-9da67e1bf1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="de0187a1-b95b-4b37-9920-ad9af1466f40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="61ed8b44-def7-4c76-beac-e9dfd885224c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="60e1c9fb-398e-4fad-a901-ce5270546259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="a2dad2c2-0965-42dc-a96f-e12ea0f62ca5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="554b5881-7f3c-456f-8c93-b87fc90afae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="aa810690-dfad-4ac3-b34c-915ff9d6149f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="08b6a462-877a-4cc5-8898-459b2a515d32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="ea6523af-ccdf-4ac4-b1c0-7088b626cc41")>]

In [25]:
for i in location_tag:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [26]:
#Extracting alll the tags having company name
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="58e97215-d898-4cda-a3cd-b16b2d81b7fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="398f328f-6a41-4468-97f9-10942c4aa064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="08d5f59b-2cfb-43bc-81d3-7e45463ccd32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="9d4c0290-1281-459b-bfca-0380ba367757")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="160f42e7-37cc-4255-b732-96af886992a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="1cf34c28-4cea-4964-b5ee-bdeba1000760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="4f37044e-97d3-4a20-9972-d91edbae4b68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="05c2b471-9a85-475b-803c-bbbb4feeec4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="5bf4cee5-055d-4b15-b465-b3b8173554ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dc77102c7d25a29d4788e63f96ac11fb", element="e90d0534-2ed4-4030-83cd-1bc4dd70abc1")>]

In [27]:
for i in comp_tag:
    comp=i.text
    company_name.append(comp)
company_name[0:10]

['Wipro',
 'Wipro',
 'Genpact',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited',
 'UPL',
 'UPL',
 'Jacobs']

In [28]:
#Checkiing the length
print(len(job_titles),len(locations_list),len(company_name))

20 20 20

In [29]:
Job=pd.DataFrame({'TITLE':job_titles,'LOCATION':locations_list,'COMPANY NAME':company_name})
Job

,TITLE,LOCATION,COMPANY NAME
0,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
1,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro
2,Data Scientist,Bangalore/Bengaluru,Genpact
3,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact
4,Data Scientist - Immediate Joiners,"Noida, Mumbai, Pune, Bangalore/Bengaluru",Bristlecone
5,Data Scientist- AI/ML- R&D,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL
6,Urgent Hiring For AI Data Scientist,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Ashkom Media India Private Limited
7,Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL
8,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jacobs
10,Data Science Expert - Quality & Test Engineering,Bangalore/Bengaluru,SAP
11,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,SAP
12,Research Engineer: Deep Learning & Collective ...,Bangalore/Bengaluru,Siemens
13,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Accenture
14,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Accenture
15,Data Science Associate Manager,Bangalore/Bengaluru,Accenture
16,Research Scientist,Bangalore/Bengaluru,IBM
17,Data Science - Lead Data Scientist,"Noida, Bangalore/Bengaluru",Paytm
18,Data Scientist,Bengaluru/Bangalore,IBM
19,Data Scientist,Bengaluru/Bangalore,IBM

# Answer 3

In [30]:
#Conecting to the web drvier
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

#Opening up the required website
driver.get("https://www.naukri.com/")

In [31]:
#Entering designation 
designation = driver.find_element_by_class_name("suggestor-input ")
designation.send_keys("Data Scientist")
#Clicking on search button 
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [32]:
#Applying location and salary filter
apply_filter=driver.find_element_by_xpath("//span[@class='fw500 pl-8']")
apply_filter.click()

# Answer 4

In [2]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [3]:
products=driver.find_element_by_class_name("_3704LK")
products.send_keys("sunglasses")
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [4]:
#Creating list for the aributes
brands_name=[]
product_description=[]
product_price_list=[]

In [5]:
#Extracting all the brand names
for  i in range(0,3):
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand=i.text
        brands_name.append(brand)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
brands_name[0:100]

['Mi',
 'Mi',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'New Specs',
 'PIRASO',
 'Mi',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'Fastrack',
 'United Colors of Benetton',
 'VINCENT CHASE',
 'United Colors of Benetton',
 'Fastrack',
 'Elligator',
 'GANSTA',
 'SUNBEE',
 'AISLIN',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'Fastrack',
 'VINCENT CHASE',
 'Urbanic',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'VINCENT CHASE',
 'Lee Topper',
 'United Colors of Benetton',
 'Lee Topper',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Ray-Ban',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'HRX by Hrithik Roshan',
 'PHENOMENAL',
 'Ray-Ban',
 'Urbanic',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'AISLIN',
 'SUNBEE',
 'ROYAL SON',
 'kingscape',
 'Fastrack',
 'AISLIN',
 'Ray-Ban',
 'kingsunglasses',
 'SRPM',
 'Fastrack',
 'Ray-Ban',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'GHAWK',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Rich Club',
 'AISLIN',
 'ROZZETTA CRAFT',
 'GANSTA',
 'GANSTA',
 'VINCENT CHASE',
 'Ray-Ban',
 'AISLIN',
 'AISLIN',
 'Roadster',
 'Ray-Ban',
 'Rich Club',
 'New Specs',
 'Singco',
 'Ray-Ban',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'SHAAH COLLECTIONS',
 'Ray-Ban',
 'AISLIN',
 'kingsunglasses',
 'AISLIN',
 'Ray-Ban']

In [6]:
for  i in range(0,3):
    product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_tag:
        product=i.text
        product_description.append(product)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
product_description[0:100]

['UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Retro Square Sunglasses (58)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Oval, Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (55)',
 'UV Protection Oval, Aviator Sunglasses (60)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Oval, Aviator Sunglasses (57)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Aviator Sunglasses (5...',
 'UV Protection Oval, Aviator Sunglasses (60)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Retro Square, Wayfarer Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Butterfly Sunglasses (64)',
 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...',
 'Toughened Glass Lens, UV Protection Wayfarer, Aviator S...',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection, Riding Glasses, Night Vision Wayfarer Su...',
 'UV Protection Round Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Polarized, UV Protection Aviator Sunglasses (53)',
 'Riding Glasses, UV Protection, Mirrored Sports Sunglass...',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)',
 'UV Protection Oval Sunglasses (52)',
 'UV Protection Cat-eye Sunglasses (51)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'SLIVER STEALTH Rectangular Sunglass',
 'TWOFACE Rectangular Sunglass',
 'UV Protection Clubmaster Sunglasses (47)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...',
 'UV Protection, Riding Glasses Round Sunglasses (50)',
 'UV Protection, Mirrored Aviator Sunglasses (50)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'Polarized Aviator Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Polarized, UV Protection, Mirrored Wayfarer, Retro Squa...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection, Mirrored Shield, Wayfarer Sunglasses (61...',
 'UV Protection Wayfarer Sunglasses (46)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (57)',
 'Others Round Sunglasses (59)',
 'UV Protection, Others, UV Protection, Polarized Wayfare...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Oval, Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'UV Protection, Gradient Retro Square, Over-sized Sungla...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Wrap-around Sunglasses (68)',
 'UV Protection, Gradient Butterfly Sunglasses (55)']

In [7]:
for  i in range(0,3):
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price=i.text
        product_price_list.append(price)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
product_price_list[0:100]

['149',
 '776',
 '8,429',
 '3,325',
 '525',
 '372',
 '2,256',
 '242',
 '217',
 '449',
 '149',
 '212',
 '115',
 '194',
 '6,469',
 '774',
 '1,419',
 '223',
 '501',
 '525',
 '519',
 '949',
 '559',
 '559',
 '199',
 '164',
 '5,239',
 '279',
 '399',
 '1,025',
 '739',
 '279',
 '290',
 '366',
 '108',
 '501',
 '219',
 '310',
 '2,319',
 '314',
 '149',
 '776',
 '8,429',
 '3,325',
 '525',
 '372',
 '2,256',
 '242',
 '217',
 '449',
 '149',
 '212',
 '115',
 '194',
 '6,469',
 '774',
 '1,419',
 '223',
 '501',
 '525',
 '519',
 '949',
 '559',
 '559',
 '199',
 '164',
 '5,239',
 '279',
 '399',
 '1,025',
 '739',
 '279',
 '290',
 '366',
 '108',
 '501',
 '219',
 '310',
 '2,319',
 '314',
 '149',
 '776',
 '8,429',
 '3,325',
 '525',
 '372',
 '2,256',
 '242',
 '217',
 '449',
 '149',
 '212',
 '115',
 '194',
 '6,469',
 '774',
 '1,419',
 '223',
 '501',
 '525']

In [8]:
print(len(brands_name),len(product_description),len(product_price_list))

120 115 120

In [11]:
B=brands_name[0:100]
p=product_description[0:100]
pp=product_price_list[0:100]

In [12]:
print(len(B),len(p),len(pp))

100 100 100

In [13]:
sunglasses=pd.DataFrame({'BRAND':B,'Product Description':p,'PRICE':pp})

In [14]:
sunglasses

             BRAND                                Product Description   PRICE
0               Mi  UV Protection Wayfarer, Sports, Shield, Rectan...    149
1               Mi                UV Protection Round Sunglasses (54)    776
2        Elligator  Gradient, UV Protection Retro Square Sunglasse...  8,429
3         Fastrack  Night Vision, Riding Glasses Wayfarer Sunglass...  3,325
4         Fastrack  by Lenskart Polarized, UV Protection Cat-eye S...    525
..             ...                                                ...     ...
95         Ray-Ban              UV Protection Cat-eye Sunglasses (57)    774
96          AISLIN  UV Protection, Gradient Retro Square, Over-siz...  1,419
97  kingsunglasses  Polarized, UV Protection Retro Square Sunglass...    223
98          AISLIN          UV Protection Wrap-around Sunglasses (68)    501
99         Ray-Ban  UV Protection, Gradient Butterfly Sunglasses (55)    525

[100 rows x 3 columns]

# Answer 5

In [21]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [22]:
products=driver.find_element_by_class_name("_3704LK")
products.send_keys("iphone 11")
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [23]:
rating_list=[]
review_list=[]
full_review=[]

In [28]:
for i in range(0,10):
    rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tag:
        rating=i.text
        rating_list.append(rating)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(4)
rating_list[0:100]

[]

In [29]:
for i in range(0,10):
    review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_tag:
        review=i.text
        review_list.append(review)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(4)
review_list[0:100]

[]

In [33]:
for i in range(0,10):
    full_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full_tag:
        full=i.text
        full_review.append(full)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(4)
full_review[0:100]

[]

In [31]:
print(len(rating_list),len(review_list),len(full_review))

0 0 0

# Answer 6

In [14]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [15]:
products=driver.find_element_by_class_name("_3704LK")
products.send_keys("sneakers")
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [16]:
#Creating list for the aributes
brand_list=[]
product_description=[]
price_list=[]

In [17]:
#Extracting all the  brand tag
for i in range(0,3):
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tag:
        brand=i.text
        brand_list.append(brand)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
brand_list[0:100]

['BRUTON',
 'U.S. POLO ASSN.',
 'Layasa',
 'BIRDE',
 'Magnolia',
 'Robbie jones',
 'BRUTON',
 'U.S. POLO ASSN.',
 'URBANBOX',
 'BRUTON',
 'Robbie jones',
 'Numenzo',
 'Labbin',
 'BRUTON',
 'D-SNEAKERZ',
 'U.S. POLO ASSN.',
 'Robbie jones',
 'Robbie jones',
 'ASTEROID',
 'BRUTON',
 'Kraasa',
 'PUMA',
 'KWIK FIT',
 'Bacan',
 'aadi',
 'bluemaker',
 'PUMA',
 'aadi',
 'CAMPUS',
 'ONECENTRE',
 'aadi',
 'BRUTON',
 'U.S. POLO ASSN.',
 'Dicy',
 'CLYMB',
 'U.S. POLO ASSN.',
 'Kzaara',
 'ZF Klub',
 'BRUTON',
 'U.S. POLO ASSN.',
 'Robbie jones',
 'Kraasa',
 'corsac',
 'Numenzo',
 'Roadster',
 'asics',
 'HOTSTYLE',
 'RapidBox',
 'ASTEROID',
 'Layasa',
 'SCATCHITE',
 'ASTEROID',
 'Echor',
 'KNIGHTWING',
 'Dizzler',
 'LuvShus',
 'ADIDAS',
 'PUMA',
 'U.S. POLO ASSN.',
 'Rising Wolf',
 'Robbie jones',
 'Skechers',
 'NAUTICA',
 'FAUSTO',
 'Chevit',
 'Numenzo',
 'Numenzo',
 'SERSI',
 'Echor',
 'Kraasa',
 'BIRDE',
 'Bonexy',
 'Airland',
 'BRUTON',
 'PUMA',
 'FAUSTO',
 'WHITE WALKERS',
 'Robbie jones',
 "LEVI'S",
 'OZJI',
 'DUCATI',
 'Z Blue',
 'ONECENTRE',
 'FAUSTO',
 'SPARX',
 'SPARX',
 "LEVI'S",
 'STRANGER BROTHERS',
 'BIRDE',
 'ASIAN',
 'aadi',
 'Bonexy',
 'REEBOK CLASSICS',
 'ESSENCE',
 'Ktiz',
 'FAUSTO',
 'PUMA',
 'Robbie jones',
 'RATITE',
 'ROCKFIELD']

In [19]:
#Extracting all the product tag
for i in range(0,4):
    product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_tag:
        product=i.text
        product_description.append(product)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
product_description[0:100]

['411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Shark-41 Sneakers For Men',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'casual for men Sneakers For Men',
 'Puma Smash Vulc Sneakers For Men',
 'KING PRO Sneakers For Men',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 'PANAL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'fuzor B Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 '411 Casual Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'Sneakers For Men',
 'Summits - Brisbane Sneakers For Men',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Casuals, Canvas, Partywear Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 'Sneaker Sneakers For Men',
 'Wings Print Premium Fancy Stylish Fashion Sneakers Clas...',
 'x KL Seattle Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 "Men's Lancer Sneakers Sneakers For Men",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'SS1100 Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Classic Lace Up Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'Original Luxury Branded Fashionable Men Casual Partywea...',
 'Sneakers For Men',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 "Levi's Men's Henry Sneakers Sneakers For Men",
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'CL LTHR GROW Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'PL Low Racer Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Smash L Sneakers For Men',
 'Sneakers For Men',
 '500 Sneakers For Men',
 'Sneakers For Men',
 "Nike Court Legacy Canvas Men's Shoes Sneakers For Men",
 'Classic Lace Up Sneakers For Men',
 'Ebernon Low Sneakers For Men',
 'Liga Suede Sneakers For Men',
 'Sneakers For Men']

In [23]:
#Extracting the price tag
for i in range(0,4):
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price=i.text
        price_list.append(price)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
price_list[0:100]

['399',
 '299',
 '374',
 '399',
 '283',
 '198',
 '269',
 '399',
 '474',
 '149',
 '284',
 '399',
 '379',
 '474',
 '419',
 '1,841',
 '397',
 '319',
 '399',
 '2,089',
 '789',
 '300',
 '299',
 '1,295',
 '284',
 '519',
 '244',
 '363',
 '278',
 '379',
 '449',
 '499',
 '2,199',
 '989',
 '245',
 '399',
 '474',
 '360',
 '539',
 '470',
 '399',
 '299',
 '374',
 '399',
 '283',
 '198',
 '269',
 '399',
 '474',
 '149',
 '284',
 '399',
 '379',
 '474',
 '419',
 '1,841',
 '397',
 '319',
 '399',
 '2,089',
 '789',
 '300',
 '299',
 '1,295',
 '284',
 '519',
 '244',
 '363',
 '278',
 '379',
 '449',
 '499',
 '2,199',
 '989',
 '245',
 '399',
 '474',
 '360',
 '539',
 '470',
 '1,410',
 '664',
 '2,389',
 '499',
 '1,295',
 '2,449',
 '399',
 '2,399',
 '1,059',
 '269',
 '569',
 '2,039',
 '539',
 '479',
 '450',
 '2,399',
 '356',
 '210',
 '281',
 '471']

In [24]:
b=brand_list[0:100]
p=product_description[0:100]
pp=price_list[0:100]

In [25]:
print(len(b),len(p),len(pp))

100 100 100

In [27]:
sneakers=pd.DataFrame({'Brand':b,'Product Description':p,'Price':pp})
sneakers

              Brand                                Product Description   Price
0            BRUTON                        411 Casual Sneakers For Men    399
1   U.S. POLO ASSN.                                   Sneakers For Men    299
2            Layasa                                   Sneakers For Men    374
3             BIRDE  Stylish Comfortable Lightweight, Breathable Wa...    399
4          Magnolia                                   Sneakers For Men    283
..              ...                                                ...     ...
95           FAUSTO  Nike Court Legacy Canvas Men's Shoes Sneakers ...  2,399
96             PUMA                   Classic Lace Up Sneakers For Men    356
97     Robbie jones                       Ebernon Low Sneakers For Men    210
98           RATITE                        Liga Suede Sneakers For Men    281
99        ROCKFIELD                                   Sneakers For Men    471

[100 rows x 3 columns]

# Answer 7

In [2]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.myntra.com/shoes")

In [4]:

color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter.click()

In [5]:
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [3]:
brand_list=[]
shoe_description=[]
price_list=[]

In [8]:
for i in range(0,2):
    brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand_tag:
        brand=i.text
        brand_list.append(brand)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
    next_button.click()
    time.sleep(2)
brand_list[0:100]

['Skechers',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Skechers',
 'Puma',
 'Nike',
 'Nike',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Vans',
 'Skechers',
 'Puma',
 'Puma',
 'Reebok',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'Skechers',
 'UNDER ARMOUR',
 'Geox',
 'ADIDAS',
 'Geox',
 'Columbia',
 'J.FONTINI',
 'Geox',
 'Puma',
 'ADIDAS',
 'ADIDAS',
 'Puma',
 'Puma',
 'ASICS',
 'Puma',
 'Hush Puppies',
 'Geox',
 'ADIDAS',
 'Puma',
 'Geox',
 'Geox',
 'Geox',
 'Tommy Hilfiger',
 'Puma',
 'Columbia',
 'Geox',
 'ADIDAS',
 'UNDER ARMOUR',
 'EVADICT By Decathlon',
 'Geox',
 'Saint G',
 'TOMS',
 'KIPRUN By Decathlon',
 'Clarks',
 'J.FONTINI',
 'ASICS',
 'Clarks',
 'Saint G',
 'Geox',
 'Geox',
 'DAVINCHI',
 'Clarks',
 'Saint G',
 'Heel & Buckle London',
 'Bugatti',
 'Geox',
 'Saint G',
 'Geox',
 'Geox',
 'Quechua By Decathlon',
 'Geox',
 'Geox',
 'Kenkoh',
 'Louis Philippe',
 'DAVINCHI',
 'Saint G',
 'Geox',
 'Saint G',
 'Geox',
 'Geox',
 'GABICCI',
 'FILA',
 'ECCO',
 'Columbia',
 'FILA',
 'ASICS',
 'Columbia',
 'Cole Haan',
 'Geox',
 'J.FONTINI',
 'Geox',
 'J.FONTINI',
 'Clarks',
 'Heel & Buckle London',
 'Geox',
 'Geox',
 'Geox',
 'Geox']

In [9]:
for i in range(0,2):
    description_tag=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description_tag:
        description=i.text
        shoe_description.append(description)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
    next_button.click()
    time.sleep(2)
shoe_description[0:100]

['Men Go Walk 5 Walking Shoes',
 'Men UA Charged Breeze Training',
 'Women Pegasus 39 Running Shoes',
 'Men UA Charged Vantage 2 Run',
 'Men Charged Rouge 3 Run Shoes',
 'Men Max Cushioning Running',
 'Women React MR 3 Running Shoes',
 'Women React Escape Running',
 'Men Charged Breeze Running',
 'Men UA TriBase Reign4 Training',
 'Men Colourblocked Sneakers',
 'Men Woven Design Sneakers',
 'Men Nanoflex TR Training Shoes',
 'Men Textured Leather Sneakers',
 'Men Deviate Nitro Shoes',
 'Women Charged Breeze Running',
 'Men Leather Loafers',
 'Men Velocity Nitro Running',
 'Men Textured Sneakers',
 'W omen TriBase Reign 4 Running',
 'Men Leather Sneakers',
 'Men Solar Glide 4 ST Running',
 'Men Textured Leather Driving Shoes',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Leather Fashion',
 'Men Textured Leather Driving Shoes',
 'Women Sports Shoes',
 'Women Supernova Running Shoes',
 'Women Eternity NITRO Shoes',
 'Women Running Sports Shoes',
 'Unisex KING Top FG Shoes',
 'Men Sports Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Slip-On Sneakers',
 'Men KING Top Football Shoes',
 'Men Textured Leather Driving Shoes',
 'Women Solar Glide 5 Running',
 'Men Textured Loafers',
 'Women Magnify Nitro Running',
 'Men Perforations Sneakers',
 'Women REDMOND V2 TrekkingShoe',
 'Men HOVR Sonic SE Running Shoe',
 'Men Leather Sneakers',
 'Women KarlieKlossX9000 Running',
 'Men Leather Sneakers',
 'Women Hovr Sonic SE Run Shoes',
 'Men Leather Sneakers',
 'Men Running Shoes',
 'Men Running Shoes',
 '',
 'Leather Block Sandals',
 'Men Sneakers',
 'Men Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Women Running Shoes',
 'Men Leather Derbys',
 'Men Leather Chelsea Boots',
 'Women Textured Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Women Ballerinas Flats',
 'Men Solid Leather Formal Loafers',
 'Stiletto Heel Mules',
 'Men Leather Formal Derbys',
 'Men Textured Leather Formal Loafers',
 'Men Leather Driving Shoes',
 'Suede Leather Block Heel Boots',
 'Leather Block Pumps',
 'Textured Leather Block Pumps',
 'Men Trekking Shoes',
 'Flatform Heels',
 'Leather Block Sandals',
 'Leather Flatform Sandals',
 'Men Solid Leather Formal Loafers',
 'Men Formal Leather Slip-Ons',
 'Suede Embellished Ankle Boots',
 'Women Open Toe Flats',
 'Women Leather Heeled Mules',
 'Women Ballerinas Flats',
 'Men Leather Formal Derbys',
 'Men Formal Slip-on Shoes',
 'Women Colourblocked Leather Sneakers',
 'Women Textured Leather Sneakers',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Leather Sneakers',
 'Women Running Shoes',
 'Women Trekking Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Solid Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Leather Formal Slip-Ons',
 'Men Solid Loafers',
 'Men Solid Formal Leather Derbys',
 'Men Formal Leather Derby',
 'Men Leather Formal Loafers',
 'Men Leather Formal Slip-Ons',
 'Women Leather Pumps',
 'Men Printed Slip-On Sneakers']

In [11]:
for i in range(0,2):
    price_tag=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in price_tag:
        price=i.text
        price_list.append(price)
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
    next_button.click()
    time.sleep(2)
price_list[0:100]

['Rs. 7500Rs. 12500(40% OFF)',
 'Rs. 9500',
 'Rs. 12990',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 8499',
 'Rs. 9599Rs. 15999(40% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7992Rs. 9990(20% OFF)',
 'Rs. 9570Rs. 14500(34% OFF)',
 'Rs. 7990',
 'Rs. 11199Rs. 15999(30% OFF)',
 'Rs. 7995',
 'Rs. 8999',
 'Rs. 9295',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 9796Rs. 13995(30% OFF)',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 10867Rs. 14490(25% OFF)',
 'Rs. 9999',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 7999',
 'Rs. 7799Rs. 11999(35% OFF)',
 'Rs. 8249Rs. 14999(45% OFF)',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 9990',
 'Rs. 9093Rs. 12990(30% OFF)',
 'Rs. 9999',
 'Rs. 13999',
 'Rs. 12475',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8999',
 'Rs. 8490',
 'Rs. 7794Rs. 12990(40% OFF)',
 'Rs. 7490',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 12999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 11999',
 'Rs. 11990',
 'Rs. 13775Rs. 14500(5% OFF)',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 9999Rs. 19999(50% OFF)',
 'Rs. 13799Rs. 22999(40% OFF)',
 'Rs. 7499',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 8999Rs. 14999( 40 % OFF)',
 'Rs. 7999',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 13999',
 'Rs. 11199Rs. 15999(30% OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 8999Rs. 14999(40% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 9990',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 13999',
 'Rs. 7992Rs. 9990(20% OFF)',
 'Rs. 8990',
 'Rs. 10990',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 9999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8575',
 'Rs. 8999Rs. 17999(50% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8990',
 'Rs. 11990',
 'Rs. 7490',
 'Rs. 8990',
 'Rs. 10990',
 'Rs. 7499Rs. 14999(50% OFF)',
 'Rs. 11990',
 'Rs. 11990',
 'Rs. 7599',
 'Rs. 10999',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 7995',
 'Rs. 8399Rs. 13999( 40 % OFF)',
 'Rs. 9025Rs. 9500(5% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8394Rs. 13990(40% OFF)',
 'Rs. 7699Rs. 13999(45% OFF)',
 'Rs. 8049Rs. 11499(30% OFF)']

In [12]:
b=brand_list[0:100]
s=shoe_description[0:100]
p=price_list[0:100]

In [13]:
print(len(b),len(s),len(p))

100 100 100

In [15]:
shoes=pd.DataFrame({'BRAND':b,'SHOES DESCRIPTION':s,'PRICE':p})
shoes

,BRAND,SHOES DESCRIPTION,PRICE
0,Skechers,Men Go Walk 5 Walking Shoes,Rs. 7500Rs. 12500(40% OFF)
1,UNDER ARMOUR,Men UA Charged Breeze Training,Rs. 9500
2,Nike,Women Pegasus 39 Running Shoes,Rs. 12990
3,Puma,Men UA Charged Vantage 2 Run,Rs. 8399Rs. 13999(40% OFF)
4,UNDER ARMOUR,Men Charged Rouge 3 Run Shoes,Rs. 8499
...,...,...,...
95,Heel & Buckle London,Men Formal Leather Derby,Rs. 7999
96,Geox,Men Leather Formal Loafers,Rs. 9999
97,Geox,Men Leather Formal Slip-Ons,Rs. 8394Rs. 13990(40% OFF)
98,Geox,Women Leather Pumps,Rs. 7699Rs. 13999(45% OFF)
99,Geox,Men Printed Slip-On Sneakers,Rs. 8049Rs. 11499(30% OFF)

# Answer 8

In [39]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.amazon.in/")

In [28]:
products=driver.find_element_by_class_name("nav-search-field ")
products.send_keys('laptop')
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
search_button.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=102.0.5005.115)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D9D953+2414931]
	Ordinal0 [0x00D2F5E1+1963489]
	Ordinal0 [0x00C1C580+836992]
	Ordinal0 [0x00C44BE3+1002467]
	Ordinal0 [0x00C442C8+1000136]
	Ordinal0 [0x00C6449C+1131676]
	Ordinal0 [0x00C3FC74+982132]
	Ordinal0 [0x00C646B4+1132212]
	Ordinal0 [0x00C74812+1198098]
	Ordinal0 [0x00C642B6+1131190]
	Ordinal0 [0x00C3E860+976992]
	Ordinal0 [0x00C3F756+980822]
	GetHandleVerifier [0x0100CC62+2510274]
	GetHandleVerifier [0x00FFF760+2455744]
	GetHandleVerifier [0x00E2EABA+551962]
	GetHandleVerifier [0x00E2D916+547446]
	Ordinal0 [0x00D35F3B+1990459]
	Ordinal0 [0x00D3A898+2009240]
	Ordinal0 [0x00D3A985+2009477]
	Ordinal0 [0x00D43AD1+2046673]
	BaseThreadInitThunk [0x76B56739+25]
	RtlGetFullPathName_UEx [0x77738FEF+1215]
	RtlGetFullPathName_UEx [0x77738FBD+1165]

In [40]:
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a")
cpu_filter.click()

In [41]:
title_list=[]
rating_list=[]
price_list=[]

In [42]:
title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tag:
    title=i.text
    title_list.append(title)
title_list[0:10]

['ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'HP Victus 11th Gen Intel Core i7-11800H 16.1-inch(40.9 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144 Hz/300 nits/7 ms Response time/GeForce RTX 3060 6GB Graphics/Backlit KB/Win 11/MSO), 16-d0361TX',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS']

In [43]:
rating_tag=driver.find_elements_by_xpath("//span[@class='a-size-base s-underline-text']")
for i in rating_tag:
    rating=i.text
    rating_list.append(rating)
rating_list[0:10]

['115', '14', '2', '6', '44', '18', '10', '5', '1', '2']

In [44]:
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tag:
    price=i.text
    price_list.append(price)
price_list[0:10]

['57,990',
 '89,990',
 '86,990',
 '74,614',
 '86,990',
 '92,990',
 '57,300',
 '84,990',
 '1,20,062',
 '1,04,849']

In [46]:
t=title_list[0:10]
r=rating_list[0:10]
p=price_list[0:10]

In [47]:
print(len(t),len(r),len(p))

10 10 10

In [48]:
laptop=pd.DataFrame({'Title':t,'Rating':r,'Price':p})
laptop

                                               Title Rating     Price
0  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    115    57,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...     14    89,990
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      2    86,990
3  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...      6    74,614
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     44    86,990
5  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...     18    92,990
6  ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...     10    57,300
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...      5    84,990
8  HP Victus 11th Gen Intel Core i7-11800H 16.1-i...      1  1,20,062
9  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...      2  1,04,849

# Answer 9

In [2]:
driver=webdriver.Chrome(r"C:\New folder\chromedriver.exe")

driver.get("https://www.ambitionbox.com/")

In [3]:
for_job=driver.find_element_by_xpath("//a[@class='link jobs']")
for_job.click()

In [4]:
products=driver.find_element_by_class_name("twitter-typeahead")
products.send_keys('Data Scientist')
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=102.0.5005.115)
Stacktrace:
Backtrace:
	Ordinal0 [0x0118D953+2414931]
	Ordinal0 [0x0111F5E1+1963489]
	Ordinal0 [0x0100C580+836992]
	Ordinal0 [0x01034BE3+1002467]
	Ordinal0 [0x010342C8+1000136]
	Ordinal0 [0x0105449C+1131676]
	Ordinal0 [0x0102FC74+982132]
	Ordinal0 [0x010546B4+1132212]
	Ordinal0 [0x01064812+1198098]
	Ordinal0 [0x010542B6+1131190]
	Ordinal0 [0x0102E860+976992]
	Ordinal0 [0x0102F756+980822]
	GetHandleVerifier [0x013FCC62+2510274]
	GetHandleVerifier [0x013EF760+2455744]
	GetHandleVerifier [0x0121EABA+551962]
	GetHandleVerifier [0x0121D916+547446]
	Ordinal0 [0x01125F3B+1990459]
	Ordinal0 [0x0112A898+2009240]
	Ordinal0 [0x0112A985+2009477]
	Ordinal0 [0x01133AD1+2046673]
	BaseThreadInitThunk [0x76B56739+25]
	RtlGetFullPathName_UEx [0x77738FEF+1215]
	RtlGetFullPathName_UEx [0x77738FBD+1165]

In [6]:
location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[2]/div/label")
location.click()

In [7]:
title_list=[]
comp_list=[]
loc_list=[]

In [11]:
title_tag=driver.find_elements_by_xpath("//a[@class='title noclick']")
for i in title_tag:
    title=i.text
    title_list.append(title)
title_list[0:10]

['Data Scientist',
 'Data Scientist -Machine Learning with Python',
 'Data Scientist - OIP',
 'Data Scientist- AI/ML- R&D',
 'Data Scientist (Python) Immediate Joiners',
 'Data Scientist - MIND Infotech',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners']

In [13]:
comp_tag=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in comp_tag:
    comp=i.text
    comp_list.append(comp)
comp_list[0:10]

['GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Hcl Technologies Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Om Software Internet Solutions Private Limited',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Ashkom Media India Private Limited',
 'Ashkom Media India Private Limited',
 'Ashkom Media India Private Limited',
 'Bristlecone India Limited']

In [15]:
loc_tag=driver.find_elements_by_xpath("//div[@class='entity loc']")
for i in loc_tag:
    loc=i.text
    loc_list.append(loc)
loc_list[0:10]

['Bengaluru/Bangalore, Hyderabad/Secunderabad, Gurgaon/Gurugram + 1 more',
 'Bengaluru/Bangalore, Hyderabad/Secunderabad, Gurgaon/Gurugram +1 more',
 'Delhi NCR, New Delhi, Gurgaon/Gurugram +1 more',
 'Bengaluru/Bangalore, Noida',
 'Chennai, Pune, Delhi NCR +4 more',
 'Pune, Ahmedabad, Noida',
 'Noida',
 'Noida',
 'Bengaluru/Bangalore, Noida',
 'Noida']

In [16]:
print(len(title_list),len(comp_list),len(loc_list))

10 10 22

In [17]:
l=loc_list[0:10]
l

['Bengaluru/Bangalore, Hyderabad/Secunderabad, Gurgaon/Gurugram + 1 more',
 'Bengaluru/Bangalore, Hyderabad/Secunderabad, Gurgaon/Gurugram +1 more',
 'Delhi NCR, New Delhi, Gurgaon/Gurugram +1 more',
 'Bengaluru/Bangalore, Noida',
 'Chennai, Pune, Delhi NCR +4 more',
 'Pune, Ahmedabad, Noida',
 'Noida',
 'Noida',
 'Bengaluru/Bangalore, Noida',
 'Noida']

In [18]:
data_scientist=pd.DataFrame({'Tile':title_list,'Company':comp_list,'Location':l})
data_scientist

,Tile,Company,Location
0,Data Scientist,GENPACT India Private Limited,"Bengaluru/Bangalore, Hyderabad/Secunderabad, G..."
1,Data Scientist -Machine Learning with Python,GENPACT India Private Limited,"Bengaluru/Bangalore, Hyderabad/Secunderabad, G..."
2,Data Scientist - OIP,Hcl Technologies Limited,"Delhi NCR, New Delhi, Gurgaon/Gurugram +1 more"
3,Data Scientist- AI/ML- R&D,EXL Services.com ( I ) Pvt. Ltd.,"Bengaluru/Bangalore, Noida"
4,Data Scientist (Python) Immediate Joiners,Om Software Internet Solutions Private Limited,"Chennai, Pune, Delhi NCR +4 more"
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Ahmedabad, Noida"
6,Data Scientist,Ashkom Media India Private Limited,Noida
7,Data Scientist,Ashkom Media India Private Limited,Noida
8,Data Scientist,Ashkom Media India Private Limited,"Bengaluru/Bangalore, Noida"
9,Data Scientist - Immediate Joiners,Bristlecone India Limited,Noida